
body {
    background-color: #BBBBBB;
}

.icon-hover:hover {
    border: #BBBBBB solid 1px;
    color: #993333;
    border-radius: 50%;
    padding: 4px;
}

.table-hover tbody tr:hover {
    background-color: #BBBBBB; /* tùy chỉnh màu khi hover */
}